#accueil-bandeau {
	margin-bottom: 100px;
  .accueil-bandeau {
    position: relative;

    .accueil-img-bandeau {
      width: 100%;            
      height: 100vh;           
      max-height: 100vh;
      object-fit: cover;
      filter: brightness(50%);
      display: block;
    }

		figcaption {
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);

			h1 {
				font-family: "Yesteryear";
				font-size: clamp(24px, 6vw, 64px);
				color: var(--couleur-texte-blanc);
				text-shadow: 2px 2px 2px var(--couleur-texte-noir);
				text-align: center;
				padding: 0 1rem;
				line-height: 1.2;
				max-width: 90%;
			}

			.accueil-bandeau-contacts {
				display: none;
			}
		}
  }
}

@media screen and (max-width:1080px) {
	#accueil-bandeau {
		.accueil-bandeau {
			figcaption {
				left: 55%;
			}
		}
	}
}


@media screen and (max-width:762px) and (orientation:portrait) {
	#accueil-bandeau {
		.accueil-bandeau {
			figcaption {
				width: 100%;
				top: 50%;
				left: 50%;
				
				h1 {
					max-width: 100%;
					font-size: 32px;
				}

				.accueil-bandeau-contacts {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 80%;
					margin: 0 auto;
					margin-bottom: 200px;
					
					p {
						text-align: center;
						color: var(--couleur-texte-blanc);
						font-size: 20px;
						margin-right: .5rem;
						text-shadow: 2px 2px 2px var(--couleur-texte-noir);
					}

					img {
						margin-right: .5rem;
					}

					.accueil-bandeau-contacts-container {
						display: flex;
					}
				}
			}
		}
	}
}
