#bloc-contenu-texte {
	width: 70%;
	max-width: 1400px;
	margin: 0 auto;

	h3 {
		text-align: center;
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 20px;
	}

	.bct-container {
		display: flex;
		margin-bottom: 50px;

		.bct-container-sous-titre {
			width: 30%;

			.bct-bloc {
				width: 90%;
				font-family: "Montserrat-bold";
				text-align: center;
				font-size: 24px;
				padding: 10px;
				border-radius: 50px;
				background: var(--couleur-jaune-moutarde);
				color: var(--couleur-texte-blanc);
			}
		}

		.bct-container-texte {
			width: 70%;
		}
	}

	.sous-titre {
		font-family: "Montserrat-bold";
		font-size: 24px;
		margin-top: 40px;
		margin-bottom: 25px;
		padding-left: 1rem;
		color: var(--couleur-vert-sapin);
		border-left: 7px solid var(--couleur-vert-sapin);
	}

	.texte-a-puce {
		margin-left: 20px;
	}

	.bloc-contenu-texte-img {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 50px;

		img {
			object-fit: cover;
			border-radius: 20px;
		}
	}
}

@media screen and (max-width:1080px) {
	#bloc-contenu-texte {
		width: 95%;
	}
}

@media screen and (max-width:762px) and (orientation:portrait) {
	#bloc-contenu-texte {
		h3 {
			font-size: 32px;
			line-height: 30px;
		}

		p {
			margin-bottom: 16px;
		}

		.texte-a-puce {
			margin-left: 10px;
		}

		.bloc-contenu-texte-img {
			img {
				width: 100%;
				height: 350px;
			}
		}
	}
}