#nos-chambres {
	width: 95%;
	max-width: 1400px;
	margin: 0 auto;
	margin-bottom: 100px;

	h3 {
		text-align: center;
	}

	.nos-chambres-reserver {
		background: var(--couleur-jaune-moutarde);
		margin: 0 auto;
		margin-bottom: 50px;
		width: 60%;
		padding: .5rem;
		border-radius: 20px;

		p {
			text-align: center;
			font-size: 32px;
			font-family: "Montserrat-bold";
			color: white                                  ;
		}
	}

	.nos-chambres-bloc-img {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 50px;

		img {
			object-fit: cover;
			border-radius: 20px;
		}
	}		
}

@media screen and (max-width:1080px) {
	#nos-chambres {
		.nos-chambres-reserver {
			width: 95%;
		}
	}
}

@media screen and (max-width:762px) and (orientation:portrait) {
	#nos-chambres {
		h3 {
			font-size: 32px;
		}

		.nos-chambres-reserver {
			width: 95%;

			p {
				font-size: 20px;
			}

		.nos-chambres-bloc-img {
				img {
					width: 100%;
					height: 350px;
				}
			}	
		}

		.liste-chambres-hotel {
			width: 100%;
			.carte-chambre-hotel {
				img {
					width: 100%;
					border-radius: 10px;
				}

				figcaption {
					.chambre-disponible {
						width: 100%;
					}

					.chambre-non-disponible {
						width: 100%;
					}
				}
			}
		}
	}
}