// Menu accueil
#en-tete-accueil {
  font-family: "Montserrat-bold";
	display: flex;
	align-items: center;
	position: absolute;
	margin: 1rem 0 1rem 0rem;
	z-index: 9999;
	width: 100%;

	.nav-logo {
		object-fit: contain;
		margin-top: .35rem;
		margin-right: 10vw;
	}

	#nav-accueil {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: right;
	}

  #menu-1 {
		display: flex;
		justify-content: flex-end;
		align-items: end;
		margin-bottom: 1rem;
		height: 50%;
		width: 95%;
		
		p {
			color: var(--couleur-texte-blanc);
			font-size: 20px;
			margin-right: 1rem;
			text-shadow: 2px 2px 5px var(--couleur-texte-noir);
		}

		img {
			margin-right: .5rem;
		}
	}

  .nav-line {
		background: var(--couleur-texte-blanc);
		width: 100%;
		height: 4px;
		margin-left: auto;
	}

  #menu-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 1rem;
		width: 95%;
		height: 50%;

		a {
			color: var(--couleur-texte-blanc);
			text-decoration: none;
			margin-right: 1rem;
			font-size: 20px;
			text-shadow: 2px 2px 5px var(--couleur-texte-noir);
		}
	}

  /* -------- BURGER ---------- */
  .menu-burger {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10001;
    width: 30px;
		height: 30px;
    background: none;
		border: none;
		cursor: pointer;

    span {
      display: block;
			width: 100%;
			height: 5px;
			background: var(--couleur-menu-burger);
      margin: 6px 0; border-radius: 2px;
			transition: .4s ease;
			
    }

    &.open span:nth-child(1) { transform: translateY(11px) rotate(45deg); }
    &.open span:nth-child(2) { opacity: 0; }
    &.open span:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }
  }


  /* --------- BREAKPOINTS --------- */

  @media (max-width: 1080px) and (orientation: portrait) {
    .menu-burger {
			display: block;
		}

    #menu-1, .nav-line {
			display: none !important;
		}

    #menu-2 {
      display: none;
      position: fixed;
      inset: -1rem auto auto 0;
      width: 100vw;
			height: auto;
      padding: 3rem 1rem;
      background: var(--couleur-jaune-moutarde);
      border-radius: 0 0 30px 30px;
      z-index: 10000;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;
      animation: none;

      a {
				font-size: 1.2rem;
				text-shadow: none;
				margin-right: 0;
			}
    }

    #menu-2.open {
      display: flex;
      animation: slideDown .35s ease forwards;
    }

    @keyframes slideDown {
      from { 
				transform: translateY(-100%);
				opacity: 0;
			}

      to   {
				transform: translateY(0);
				opacity: 1;
			}
    }
  }
}