#titre-page {
	h1 {
	font-family: "Montserrat-bold";
  text-align: center;
  font-size: 42px;
  margin: 50px 0 100px 0 ;
  color: var(--couleur-vert-sapin);
	}
}

@media screen and (max-width:762px) and (orientation:portrait) {
  #titre-page {
	  h1 {
      font-size: 32px;
      margin-bottom: 50px;
    }
  }

  #admin-titre-page {
    h1 {
      font-size: 32px;
      margin-bottom: 50px;
    }
  }
}